.preview {  
  border: 1px solid;
  display: flex;
  padding: 10px;
  width: 265px;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  flex: 1;
}

.controls {
  align-items: stretch;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 120px;
}

.label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sizeInput {
  width: 70px;
}

.colorInput {
  width: 74px;
}